@tailwind base;
@tailwind components;
@tailwind utilities;
/* Scrollbar custom style */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e0; /* Tailwind gray-300 */
  border-radius: 4px;
}
